[Unit]
Description=Onyx Server Service
After=default.target

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/run-onyx-server.sh
Restart=always

[Install]
WantedBy=default.target